.header {
    background-color: #0d3b1f;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 12px 0;
    width: 100%;
}

.title {
    color: #0d3b1f
}

.green-btn {
    background-color: #0d3b1f;
    border: 1px solid #0d3b1f;
    color: white;
    padding: 6px 32px;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
}

.green-btn:hover {
    background-color: #061c0f;
    border-color: #061c0f;
    color: white;
}

.red-btn {
    background-color: #a61c2e;
    border: 1px solid #a61c2e;
    color: white;
    padding: 6px 32px;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
}

.red-btn:hover {
    background-color: #a61c2eac;
    border-color: #a61c2eac;
    color: white;
}


.error {
    color: #a61c2e;
    background-color: #fdf2f4;
    border: 1px solid #f9dbdf;
    border-radius: 4px;
    padding: 4px;
}

.success {
    color: #0d3b1f;
    background-color: #e6f0ea;
    border: 1px solid #bcd0c3;
    border-radius: 4px;
    padding: 4px;
}

.nav-link.active-nav-link {
    color: #0d3b1f !important;
    border-bottom-color: #0d3b1f !important;
    font-weight: bold;
}

.nav-link.hover-nav-link:hover {
    color: #0d3b1f;
    background-color: #f8f9fa;
}

.nav-underline .nav-link {
    color: #6c757d;
}

label {
    color: #0d3b1f;
    font-weight: 600;
}

.table th.table-heading {
    color: #0d3b1f;
    font-weight: 600;
}