{% extends "base.html" %}

{% block page_title %}Speakers{% endblock %}

{% block content %}
{% if request.endpoint == 'speakers.index' %}
{% if current_user.role.name == 'Organiser' %}
<div class="pt-3 text-end">
    <a class="btn green-btn" href="{{url_for('speakers.manage_speaker')}}" role="button">+ Create</a>
</div>
{% endif %}
{% for speaker in all_speakers %}
<div class="card mb-3" style="max-width: 540px;">
    {% if current_user.role.name == 'Organiser' %}
    <div class="d-flex justify-content-end align-items-start py-2 px-2">
        <a class="btn btn-sm green-btn" href="{{url_for('speakers.manage_speaker', speaker_id=speaker.id)}}"
            role="button">Edit</a>
    </div>
    {% endif %}
    <div class="row g-0">
        <div class="col-md-4">
            <img src="" class="img-fluid rounded-start" alt="{{speaker.full_name}}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{speaker.full_name}}</h5>
                <p class="card-text">{{speaker.biography}}</p>
                <p class="card-text">
                    <small class="text-muted">Email: {{speaker.email}}</small>
                    <small class="text-muted">Phone number: {{speaker.phone_number}}</small>
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% if request.endpoint == 'speakers.manage_speaker' %}
<div class="fluid-container pt-3">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="fw-bold title m-0">Manage Speaker Details</h2>
        <a class="btn green-btn" href="{{ url_for('speakers.index') }}" role="button">← Back</a>
    </div>
</div>

<div class="pt-3">
    <h3 class="title">Speaker Details</h3>
    <form method="POST" enctype="multipart/form-data">
        <input type="hidden" name="action" value="save_event">

        <div class="form-group row">

            <div class="col-md-4">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" name="full_name"
                    value="{{ speaker.full_name if speaker else '' }}" required>
            </div>

            <div class="col-md-8">
                <label class="form-label">Biography</label>
                <input type="text" class="form-control" name="bio" value="{{ speaker.biography if speaker else '' }}"
                    required>
            </div>

            <div class="col-md-4">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" name="email" value="{{ speaker.email if speaker else '' }}"
                    required>
            </div>

            <div class="col-md-4">
                <label class="form-label">Phone Number</label>
                <input type="text" class="form-control" name="phone_number"
                    value="{{ speaker.phone_number if speaker else '' }}" required>
            </div>

            <div class="col-md-4">
                <label class="form-label">Profile Photo</label>
                <input type="text" class="form-control" name="profile_image"
                    value="{{ speaker.profile_image if speaker else '' }}" required>
            </div>
        </div>

        <div class="pt-3 text-end">
            <button type="submit" class="btn green-btn">Save Event</button>
        </div>
    </form>
</div>
{% endif %}
<div class="pt-3">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <p class="{{ category }} small">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock %}